* {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 160px 1fr;
}


/* ================= NAVBAR STYLES ================= */


.navbar {
  display: grid;
  grid-template-rows: 160px repeat(2, 1.5fr) 2fr;
  grid-row: span 2;
  height: 100vh;
}

.nav-item {
  align-items: center;
  background: #354052;
  border-bottom: 3px solid #2F3A4C;
  color: #8E97A8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-pic {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 55%;
}

.profile-title {
  font-size: .75rem;
  letter-spacing: .5px;
  margin: 0;
}

.profile-title:hover {
  color: white;
  cursor: pointer;
}

.profile-title i {
  margin: 2px;
}

/* === MENU STYLES === */

.menu {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0 0;
  width: 100%;
}

.nav-item-title {
  color: #626F82;
  height: 8px;
  margin: 0;
}

.nav-item-list {
  list-style: none;
  font-size: .7rem;
  padding: 0 0 5px 0;
  text-transform: uppercase;
}


td:nth-child(2) {
  width: 100%;
}

.last-menu {
  padding-right: 45px;
}

.nav-item-list-item:hover td {
  background: #30394A;
  color: white;
  cursor: pointer;
}

.list3 {
  text-transform: none;
}

.top-menus td:first-child {
  text-align: center;
  padding-right: 2px;
}

/* === CUSTOM CHECKBOXES === */

.checkbox-container {
  display: inline-block;
  height: 14px;
  margin-right: 7px;
  position: relative;
  width: 14px;
}

.checkbox-container label {
  border-radius: 2px;
  cursor: pointer;
  left: 0;
  height: 14px;
  position: absolute;
  top: 0;
  width: 14px;
}

.checkbox-container #checkbox1 + label {
  background: #FDD504;
}

.checkbox-container #checkbox2 + label {
  background: #24AEFE;
}

.checkbox-container #checkbox3 + label {
  background: #EB1760;
}

.checkbox-container #checkbox4 + label {
  background: #01A887;
}

.checkbox-container label:after {
    border: 3px solid #333;
    border-right: none;
    border-top: none;
    content: '';
    height: 3px;
    left: 1.5px;
    top: 2.7px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg);
    width: 7px;
}

.checkbox-container input[type=checkbox]:checked + label:after {
  opacity: .9;
}

input[type=checkbox] {
  visibility: hidden;
}


/* ================= HEADER STYLES ================= */


.header {
  height: 24vh;
}

.search-bar {
  display: flex;
  width: 100%;
}

.search-input {
  background: transparent;
  border-top: transparent;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 2px solid #E6E6E6;
  color: #84898F;
  font-size: 1.3rem;
  outline: none;
  padding: 5px 15px 3px;
  width: 100%;
}

.search-input::placeholder {
  font-size: .9rem;
  opacity: .5;
}

.header-button {
  align-items: center;
  background: transparent;
  border-top: transparent;
  border-left:  1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 2px solid #E6E6E6;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  outline: none;
  width: 70px;
}

.header-button:hover {
  background: #16A4F8;
  border: none;
}

.header-button:hover i {
  color: white;
}

.header-button i {
  color: #A4A9AF;
  font-size: 1rem;
}

.collapse {
  border-left: none;
}

.collapse i {
  font-size: 1.5rem;
}

.main-title-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main-title-section {
  margin: 15px 50px auto 30px;
}

.main-title {
  color: #6F6E74;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.sub-title {
  color: #BDC1C3;
  font-size: .8rem;
  margin: 0 auto auto 5px;
}

.sub-title-preview {
  color: #7DC9f8;
  cursor: pointer;
}

.title-button-container {
  height: 28px;
  margin: 40px 30px;
}

.open-button-svg {
  margin-top: 4px;
  transform: translateY(1px);
}

.title-button {
  color: #8F939E; 
  background: none;
  border: 1px solid #D6D6D8;
  font-size: .65rem;
  text-transform: uppercase;
  border-radius: 15px;
  height: 28px;
  padding-bottom: 4px;
  outline: none;
  cursor: pointer;
  width: 70px;
}

.title-small-button {
  margin-left: 7px;
  width: 28px;
  padding-bottom: 0;
}

.header-tabs {
  color: #ACADB2;
  display: flex;
  justify-content: space-between;
  width: 75%;
  font-size: .6rem;
  text-transform: uppercase;
  margin-left: 30px;
  height: 49px
}

.header-tab:first-child {
  color: #686870;
  border-bottom: 3px solid #3db0f3;
}


/* ================= BODY STYLES ================= */


.main-body {
  border-top: 3px solid #E6E6E6;
  background-color: #EDF2F6;
  height: 70.3vh;
  z-index: -1;
}

.data-container {
  display: flex;
  margin-top: 40px;
  width: 100%;
}

.circles-container {
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
  width: 380px;
}

.circle-background {
  fill: none;
  stroke-width: 8px;
  stroke: #D9E4EA;
}

.circle-data {
  fill: none;
  stroke-width: 8px;
  stroke: #49B7BF;
  stroke-linecap: round;
  stroke-dasharray: 282.7;
  stroke-dashoffset: 50;
  transform: rotate(95deg);
  transform-origin: 50% 50%;
  animation: circleone 1.5s ease-out;
}

.blue {
  stroke: #16A2F6;
  stroke-dashoffset: 170;
  animation: circletwo 1.2s ease-out;
}

.purple {
  stroke: #B465AA;
  stroke-dashoffset: 220;
  animation: circlethree 1s ease-out;
}

@keyframes circleone {
  from {
    stroke-dashoffset: 282.7;
  }
  to {
    stroke-dashoffset: 50;
  }
}

@keyframes circletwo {
  from {
    stroke-dashoffset: 282.7;
  }
  to {
    stroke-dashoffset: 170;
  }
}

@keyframes circlethree {
  from {
    stroke-dashoffset: 282.7;
  }
  to {
    stroke-dashoffset: 220;
  }
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
}

.circle-stat {
  color: #5C6672;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  position: absolute;
  top: 30px;
}

.circle-stat-label {
  color: #ACADB2;
  font-size: .6rem;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 58px;
}




