* {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 197px 1fr;
  height: 1000px;
}


/* ================= NAVBAR STYLES ================= */


.navbar {
  display: grid;
  grid-template-rows: 160px repeat(2, 1.5fr) 10fr;
  grid-row: span 2;
  height: 93.5%;
}

.nav-item {
  align-items: center;
  background: #354052;
  border-bottom: 3px solid #2F3A4C;
  color: #8E97A8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-pic {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 55%;
}

.profile-title {
  font-size: .75rem;
  letter-spacing: .5px;
  margin: 0;
}

.profile-title:hover {
  color: white;
  cursor: pointer;
}

.profile-title i {
  margin: 2px;
}

/* === MENU STYLES === */

.menu {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0 0;
  width: 100%;
}

.nav-item-title {
  color: #626F82;
  height: 8px;
  margin: 0;
}

.nav-item-list {
  list-style: none;
  font-size: .7rem;
  padding: 0 0 5px 0;
  text-transform: uppercase;
}


td:nth-child(2) {
  width: 100%;
}

.last-menu {
  padding-right: 45px;
}

.nav-item-list-item:hover td {
  background: #30394A;
  color: white;
  cursor: pointer;
}

.list3 {
  text-transform: none;
}

.top-menus td:first-child {
  text-align: center;
  padding-right: 2px;
}

/* === CUSTOM CHECKBOXES === */

.checkbox-container {
  display: inline-block;
  height: 14px;
  margin-right: 7px;
  position: relative;
  width: 14px;
}

.checkbox-container label {
  border-radius: 2px;
  cursor: pointer;
  left: 0;
  height: 14px;
  position: absolute;
  top: 0;
  width: 14px;
}

.checkbox-container #checkbox1 + label {
  background: #FDD504;
}

.checkbox-container #checkbox2 + label {
  background: #24AEFE;
}

.checkbox-container #checkbox3 + label {
  background: #EB1760;
}

.checkbox-container #checkbox4 + label {
  background: #01A887;
}

.checkbox-container label:after {
    border: 3px solid #333;
    border-right: none;
    border-top: none;
    content: '';
    height: 3px;
    left: 1.5px;
    top: 2.7px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg);
    width: 7px;
}

.checkbox-container input[type=checkbox]:checked + label:after {
  opacity: .9;
}

input[type=checkbox] {
  visibility: hidden;
}


/* ================= HEADER STYLES ================= */


.search-bar {
  display: flex;
  width: 100%;
}

.search-input {
  background: transparent;
  border-top: transparent;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 2px solid #E6E6E6;
  color: #84898F;
  font-size: 1.3rem;
  outline: none;
  padding: 5px 15px 3px;
  width: 100%;
}

.search-input::placeholder {
  font-size: .9rem;
  opacity: .5;
}

.header-button {
  align-items: center;
  background: transparent;
  border-top: transparent;
  border-left:  1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 2px solid #E6E6E6;
  cursor: pointer;
  display: flex;
  height: 52px;
  justify-content: center;
  outline: none;
  width: 70px;
}

.header-button:hover {
  background: #16A4F8;
  border: none;
}

.header-button:hover i {
  color: white;
}

.header-button i {
  color: #A4A9AF;
  font-size: 1rem;
}

.collapse {
  border-left: none;
}

.collapse i {
  font-size: 1.5rem;
}

.main-title-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main-title-section {
  margin: 15px 50px auto 30px;
}

.main-title {
  color: #6F6E74;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.sub-title {
  color: #BDC1C3;
  font-size: .8rem;
  margin: 0 auto auto 5px;
}

.sub-title-preview {
  color: #7DC9f8;
  cursor: pointer;
}

.title-button-container {
  height: 28px;
  margin: 40px 30px;
}

.open-button-svg {
  margin-top: 4px;
  transform: translateY(1px);
}

.title-button {
  color: #8F939E; 
  background: none;
  border: 1px solid #D6D6D8;
  font-size: .65rem;
  text-transform: uppercase;
  border-radius: 15px;
  height: 28px;
  padding-bottom: 4px;
  outline: none;
  cursor: pointer;
  width: 70px;
}

.title-small-button {
  margin-left: 7px;
  width: 28px;
  padding-bottom: 0;
}

.header-tabs {
  color: #ACADB2;
  display: flex;
  justify-content: space-between;
  width: 75%;
  font-size: .6rem;
  text-transform: uppercase;
  margin-left: 30px;
  height: 49px
}

.header-tab:first-child {
  color: #686870;
  border-bottom: 3px solid #3db0f3;
}


/* ================= BODY STYLES ================= */


/* === CIRCLE GRAPH === */

.main-body {
  border-top: 3px solid #E6E6E6;
  background-color: #EDF2F6;
  height: 92%;
  z-index: -1;
}

.data-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 22%;
}

.circles-container {
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
  width: 50%;
  max-width: 500px;
}

.circle-background {
  fill: none;
  stroke-width: 8px;
  stroke: #D9E4EA;
}

.circle-data {
  fill: none;
  stroke-width: 8px;
  stroke: #49B7BF;
  stroke-linecap: round;
  stroke-dasharray: 282.7;
  stroke-dashoffset: 50;
  transform: rotate(95deg);
  transform-origin: 50% 50%;
  animation: circleone 1.5s ease-out;
}

.blue {
  stroke: #16A2F6;
  stroke-dashoffset: 170;
  animation: circletwo 1.2s ease-out;
}

.purple {
  stroke: #B465AA;
  stroke-dashoffset: 220;
  animation: circlethree 1s ease-out;
}

@keyframes circleone {
  from {
    stroke-dashoffset: 282.7;
  }
  to {
    stroke-dashoffset: 50;
  }
}

@keyframes circletwo {
  from {
    stroke-dashoffset: 282.7;
  }
  to {
    stroke-dashoffset: 170;
  }
}

@keyframes circlethree {
  from {
    stroke-dashoffset: 282.7;
  }
  to {
    stroke-dashoffset: 220;
  }
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
}

.circle-stat {
  color: #5C6672;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  position: absolute;
  top: 30px;
}

.circle-stat-label {
  color: #ACADB2;
  font-size: .6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 58px;
}

/* === BAR GRAPH === */

.graph-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}

.graph-table {
  height: 300px;
  width: 120px;
  transform: rotate(-90deg);
}

.graph-table-body {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.graph-bars {
  height: 15px;
}

.graph-row {
  display: flex;
  align-items: center;
  height: 20px;
}

.graph-day {
  text-align: center;
  color: #5C6672;
  width: 24px;
  font-size: .9rem;
  transform: rotate(90deg);
}

.graph-labels {
  color: #5C6672;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 12px;
}

.graph-labels td {
  transform: rotate(90deg);
  font-size: .65rem;
  width: 18px;
  text-align: center;
}

.line-accent {
  stroke-width: 20px;
  stroke: #44BABE;
  animation: bar 1s;
}

.line-bg {
  stroke-width: 20px;
  stroke: #D9E4EA;
  animation: bar 1s;
}

@keyframes bar {
  from {
    stroke-width: 0;
  }
  to {
    stroke-width: 20px;
  }
}

/* === DATA BUTTONS === */

.data-buttons {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-size: .7rem;
  height: 7%;
}

.data-button {
  background: #F8F9FB;
  border: 1px solid #BDBDC3;
  border-radius: 15px;
  color: #5C6672;
  padding: 5px 15px;
  height: 25px;
}

/* === RULE DIVIDER === */

.rule-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-down-rule {
  border: 1px solid #BDBDC3;
  width: 45%;
  margin: 8px;
  color: #BDBDC3;
}

.fa-chevron-circle-up {
  font-size: 1.5rem;
  margin: 0;
  color: #BDBDC3;
}

/* === LOWER GRID === */

.lower-main-section {
  display: grid;
  grid-template-columns: 1fr 30%;
}

.job-description-card {
  width: 88%;
  margin: 40px auto;
}

.job-description-table {
  table-layout: auto;
  width: 100%;
}


.job-description-row td {
  background: #FFF;
  border-bottom: 1px solid #D9D9D9;
  font-size: .7rem;
  padding: 17px 16px;
  color: #5C6672;
}


.job-description-row td:first-child {
  text-transform: uppercase;
  width: 27%;
}

.salary {
  font-weight: 600;
}

td .profile-pic {
  width: 35px;
  margin: 0 10px;
}

.image-table-section {
  display: flex;
  align-items: center;
}

.first-job-row td {
  color: #FFF;
  background: #6F7E95;
}

.first-job-row td:first-child {
  border-top-left-radius: 5px;
}

.first-job-row td:last-child {
  border-top-right-radius: 5px;
}

.last-job-row td:first-child {
  border-bottom-left-radius: 5px;
  border: none;
}

.last-job-row td:last-child {
  border-bottom-right-radius: 5px;
  border: none;
}

.job-edit-button {
  color: #FFF;
  background: #7C8CA6;
  border: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: 4px;
  width: 60px;
  height: 25px;
}

/* === SOCIAL BUTTONS SECTION === */

.social-sidebar {
  margin-top: 40px;
  width: 85%;
  display: flex;
  flex-direction: column;
}

.social-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 135px;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 3px;
  letter-spacing: .3px;
  line-height: 120%;
  align-items: center;
  height: 35px;
  text-align: center;
  color: #FFF;
  font-size: .70rem;
}

.social-button i {
  position: absolute;
  top: 30%;
  left: 15px;
}

.facebook {
  background: #4b6fc3;
}

.twitter {
  background: #01aaef;
}

.linkedin {
  background: #0482bc;
}

.aside-header {
  margin: 10px auto 3px auto;
  font-size: .9rem;
  color: #6F7E95;
}

.aside-header i {
  font-size: .8rem;
  margin-right: 3px;
}

.aside-text {
  color: #6F7E95;
  font-size: .7rem;
  line-height: 130%;
  margin: 5px auto 10px;
}

.aside-container {
  margin-top: 5px;
  padding-bottom: 15px;
  width: 100%;
}

.separators {
  border-bottom: 1px solid #BDBDC3;
}

.aside-input {
  height: 30px;
  margin: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #D9D9D9;
  width: 81%;
  padding-left: 8px;
  outline: none;
}

.aside-input-button {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #47b6bf;
  color: #FFF;
  font-size: .5rem;
  height: 30px;
  width: 17%;
  padding: 0;
  margin: 0;
  position: relative;
  right: 4px;
  bottom: 2.5px;
}

.last-aside-input {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.aside-input::placeholder {
  font-size: .7rem;
  color: #C9C9C9;
}














